@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

$pale-blue: #e0e8ff;
$bright-blue: #3829e0;
$hover-blue: #766cf1;
$very-pale-blue: #f5f7ff;
$desaturated-blue: #7280a7;
$dark-blue: #1f2f56;

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    // background-color: $pale-blue;
    overflow: hidden;
    position: relative;
    z-index: -2;
    box-sizing: border-box;
    padding: 71px 24px;
    font-family: "Red Hat Display", sans-serif;
    .bg-curve {
        z-index: -1;
        position: absolute;
        top: 0;
        .mobile-pattern {
            display: none;
        }
        @media (max-width: 375px) {
            .mobile-pattern {
                display: block;
            }
            .desktop-pattern {
                display: none;
            }
        }
    }
    .card {
        overflow: hidden;
        width: 450px;
        min-width: 327px;
        background-color: white;
        border-radius: 20px;
        box-sizing: border-box;
        z-index: 5;
        .content {
            padding: 48px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                margin: 0;
                font-size: 28px;
                font-weight: 900;
                color: $dark-blue;
            }
            .description {
                color: $desaturated-blue;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                margin-top: 17px;
                margin-bottom: 20px;
            }
            .summary {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $very-pale-blue;
                border-radius: 11px;
                padding: 24px;
                box-sizing: border-box;
                .left {
                    display: flex;
                    .icon {
                        margin-right: 20px;
                    }
                }
                .plan {
                    font-size: 16px;
                    .label {
                        color: $dark-blue;
                        font-weight: 900;
                        margin: 0;
                    }
                    .price {
                        color: $desaturated-blue;
                        font-weight: 500;
                        margin: 0;
                    }
                }
                .action {
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    text-decoration: underline;
                    font-weight: 700;
                    color: $bright-blue;
                    text-decoration-thickness: 0.5px;
                    &:hover {
                        color: $hover-blue;
                    }
                }
            }
            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                button {
                    border: none;
                    box-sizing: border-box;
                    border-radius: 11px;
                    font-size: 15px;
                    font-weight: 900;
                }
                .submit {
                    width: 100%;
                    padding: 15px;
                    background-color: $bright-blue;
                    color: white;
                    margin: 32px 0;
                    &:hover {
                        background-color: $hover-blue;
                    }
                }
                .cancel {
                    background-color: transparent;
                    padding: 0;
                    color: $desaturated-blue;
                    &:hover {
                        background-color: $dark-blue;
                    }
                }
            }
        }
    }
}
